/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

h3
{
    font-size: 14pt;
}

li
{
    list-style-type: none;
}

.w-10
{
    width: 10%;
}

.w-20
{
    width: 20%;
}

.w-40
{
    width: 40%;
}

.largeCol
{
    width: 40%;
}

.smallCol
{
    width: 20%;
}

.lightGrey1
{
    background-color: #B8B8B8;
}

.lightGrey2
{
    background-color: #BEBEBE;
}

.tall
{
    height: 450px
}
