hr
{
    height: 8px;
    background-color: #660066;
    margin: 20px;
}

video
{
    width: 100%;
}

.title
{
    text-align: center;
    background-color: #00003f;
    color: #ffffff;
}

.body
{
    background-color: #1f001f;
    text-align: center;
}

.large
{
    font-size: 40px;
}

.lightBlueText
{
    color: #99ffff;
}

.lightPinkText
{
    color: #ff99dd;
}

.lightGreenBackground
{
    background-color: #adebad;
}

.lightOrangeBackground
{
    background-color: #ffbb99;
}

.aquaBackground
{
    background-color: #00ffff;
}

.container
{
    display: flex;
    width: 100%;
}

.divisionLarge
{
    flex: 1;
    width: 80%;
    height 500px;
    padding: 50px;
}

.divisionMedium {
    flex: 1;
    width: 80%;
    height: 300px;
    padding: 50px;
}

.img
{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

}

.buttonLarge
{
    width: 80%;
    height: 50px;
}

.borderDarkRed
{
    border-color: #330c00;
}



